Src/UmBristol.PageStateIcons.Config/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="UmBristol.PageStateIcons" elementFormDefault="qualified" targetNamespace="UmBristol.PageStateIcons" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="pageStateIconsConfigurationSection" type="tns:UmBristol.PageStateIcons.Config.PageStateIconsConfigurationSectionCT" />
	<xs:complexType name="UmBristol.PageStateIcons.Config.PageStateIconsConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="rules" type="tns:UmBristol.PageStateIcons.Config.RulesCollectionCT">
				<xs:annotation>
					<xs:documentation>The Rules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UmBristol.PageStateIcons.Config.RulesCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:UmBristol.PageStateIcons.Config.RuleElementCT">
				<xs:annotation>
					<xs:documentation>The RuleElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UmBristol.PageStateIcons.Config.RuleElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="xPath" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The XPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="iconPath" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The IconPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cssClass" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CssClass.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
